/**/

html,body {
  background: rgb(204, 24, 24);
  height: 100%;
}

.out {
  border: solid 1px rgb(0, 0, 0);
  border-radius: 20px;
  padding: 10px;
  margin: 5px;
  height: 40%;
  background: rgb(199, 233, 255);
}

#btn {
  font-size: 2em;
}

#btn::after {
  content: "▶";
  color: red;
}
